/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 0;
}

.contact-info, .objective, .attributes, .education, .experience {
    margin: 20px 0;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info p, .experience ul {
    text-align: left;
}

.justify {
    text-align: justify;
}

a {
    color: #0000EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .contact-info, .objective, .attributes, .education, .experience {
        padding: 10px;
    }
}
